<app-child
  [data]="name"
  (childCallback)="callback($event)"
  *ngFor="let row of rowArray"
>
  <p *ngIf="row === 1" #para>somthng{{ row }}</p>
  <p *ngIf="row === 2" #para>somthng{{ row }}</p>
</app-child>
<hr />
<h1>{{ parent }}</h1>
<form class="example-form" [formGroup]="userForm">
  <div class="primary-container">
    <input placeholder="First Name" value="" formControlName="firstName" />
    <input placeholder="Last Name" value="" formControlName="lastName" />
  </div>
  <div
    class="address-container"
    *ngFor="let group of addressArray.controls; let i = index"
    formArrayName="address"
  >
    <div [formGroupName]="i">
      <input placeholder="Street" formControlName="country" />
      <input placeholder="City" formControlName="city" />
      <input placeholder="State" formControlName="state" />

      <div formArrayName="contact">
        <div
          *ngFor="
            let subgroup of group.controls.contact.controls;
            let idx = index
          "
          [formGroupName]="idx"
        >
          <input
            matInput
            placeholder="Contact Person"
            formControlName="contactPerson"
          />
          <input
            matInput
            placeholder="Phone Number"
            value=""
            formControlName="phoneNumber"
          />
        </div>
        <button (click)="addContactEvent(i)">Add more Contacts</button>
      </div>
    </div>
  </div>
  <div
    class="address-container"
    *ngFor="let group of documentArray.controls; let i = index"
    formArrayName="document"
  >
    <div [formGroupName]="i">
      <input placeholder="document name" formControlName="name" />
      <input placeholder="document type" formControlName="type" />
    </div>
  </div>
  <div class="form-row org-desc-parent-margin">
    <button (click)="addAddress()">Add more document</button>
  </div>
  <div class="form-row org-desc-parent-margin">
    <button (click)="addDocumentEvent()">Add more address</button>
  </div>
</form>
